body {
    margin: 0;
}

.snap-container {
    width: 100vw;
    height: 100vh;
    scroll-snap-type: y mandatory ;
    overflow-y: auto;
    overflow-x: hidden;
}

.snap {
    height: 100vh;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

.snap:nth-child(1) {
    background-color: #eee;
}

.snap:nth-child(2) {
    background-color: #a00;
}

.snap:nth-child(3) {
    background-color: #048;
}